@using AvibaWeb.ViewModels.BookingManagement
@model FilterViewModel

<p class="btn-group">
    <button class="btn btn-primary" data-toggle="collapse" href="#filterBlock" role="button" aria-expanded="false" aria-controls="filterBlock">
        Фильтры
    </button>
    <button class="btn btn-primary" role="button" id="clearFilterBtn">
        Сбросить
    </button>
</p>

<div class="container-fluid collapse" id="filterBlock" style="height: 0px;">
    <div class="row">
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Дата</h2>
                </div>
                <div class="box-content">
                    Выбрать с: 
                    <div class="input-group date">
                        <input type="text" id="min" name="min" class="form-control" autocomplete="off">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    по: 
                    <div class="input-group date">
                        <input type="text" id="max" name="max" class="form-control" autocomplete="off">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Пульты</h2>
                </div>
                <div id="deskTree"></div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Сеансы</h2>
                </div>
                <div id="sessionTree"></div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Авиакомпании</h2>
                </div>
                <div class="box-content">
                    <select data-placeholder="Авиакомпания" id="selectAirline" data-rel="chosen" multiple></select>
                </div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Направления</h2>
                </div>
                <div class="box-content">
                    <div id="fromRouteDiv">
                        <select data-placeholder="Пункт отправления" id="selectFromRoute" data-rel="chosen" data-remote></select>
                    </div>
                    <br />
                    <div id="toRouteDiv">
                        <select data-placeholder="Пункт назначения" id="selectToRoute" data-rel="chosen" data-remote></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var d1 = $.Deferred();
        var d2 = $.Deferred();

        $.when(d1, d2).done(function (v1, v2) {
            $("#saleButton").click();
        });

        $('#deskTree').on('loaded.jstree', function (e, data) {
            d1.resolve();
        }).jstree({
            'core': {
                'themes': {
                    'name': 'proton',
                    'responsive': true
                },
                'data': {
                    'url': function () {
                        return '/BookingManagement/GetDeskFilter';
                    },
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                }                
            },
            "checkbox": {
                "keep_selected_style": false
            },
            "plugins": ["checkbox"]
        });

        $('#sessionTree').on('loaded.jstree', function (e, data) {
            d2.resolve();
        }).jstree({
            'core': {
                'themes': {
                    'name': 'proton',
                    'responsive': true
                },
                'data': {
                    'url': function () {
                        return '/BookingManagement/GetSessionFilter';
                    },
                    'data': function (node) {
                        return { 'id': node.id };
                    }
                }
            },
            "checkbox": {
                "keep_selected_style": false
            },
            "plugins": ["checkbox"]
        });
                
        $('#selectAirline').select2({
            width: "100%",
            ajax: {
                url: '/BookingManagement/SearchAirline',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        query: params.term
                    };
                }
            },
            language: "ru"
        });
        $('[data-remote]').select2({
            width: "100%",
            ajax: {
                url: '/BookingManagement/SearchCity',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        query: params.term
                    };
                }
            },
            language: "ru"                   
        });

        $(".input-group.date").datepicker({
            autoclose: true,
            language: 'ru'
        }).on('changeDate', function (ev) {
            if($("#min").val() === $("#max").val()) {
                setTimeout(function() {
                    $("#saleButton").click();
                }, 5000);
            }
        });
        $("#min").val(moment().format("DD.MM.YYYY"));
        $("#max").val(moment().format("DD.MM.YYYY"));

        $('#deskTree').jstree('hide_icons');
        $('#sessionTree').jstree('hide_icons');
    });

    $("#clearFilterBtn").click(function (e) {
        $("#min").val(moment().format("DD.MM.YYYY"));
        $("#max").val(moment().format("DD.MM.YYYY"));

        $('[data-remote]').val(null).trigger('change');
        $('#selectAirline').val(null).trigger('change');

        $('#deskTree').jstree('deselect_all', 'true');
        $('#sessionTree').jstree('deselect_all', 'true');
    });
</script>