@using AvibaWeb.ViewModels.BookingManagement
@model FilterViewModel

<p class="btn-group">
    <button class="btn btn-primary" data-toggle="collapse" href="#filterBlock" role="button" aria-expanded="false" aria-controls="filterBlock">
        Фильтры
    </button>
    <button class="btn btn-primary" role="button">
        Сбросить
    </button>
</p>

<div class="container-fluid collapse" id="filterBlock" style="height: 0px;">
    <div class="row">
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Дата</h2>
                </div>
                <div class="box-content">
                    Выбрать с: <input type="text" id="min" name="min" class="date-range-filter">
                    по: <input type="text" id="max" name="max" class="date-range-filter">
                </div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Пульты</h2>
                </div>
                <div id="deskTree"></div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Сеансы</h2>
                </div>
                <div id="sessionTree"></div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Авиакомпании</h2>
                </div>
                <div class="box-content">
                    <select data-placeholder="Авиакомпания" id="selectAirline" data-rel="chosen" multiple>
                        <option value=""></option>
                        @foreach (var airline in Model.Airlines)
                        {
                            <option id=@airline.Key>@airline.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="box col-sm-3">
            <div class="box-inner">
                <div class="box-header well" data-original-title="" style="overflow: hidden;">
                    <h2>Направления</h2>
                </div>
                <div class="box-content">
                    <div id="fromRouteDiv">
                        <select data-placeholder="Пункт отправления" id="selectFromRoute" data-rel="chosen" data-remote>
                        </select>
                    </div>
                    <br />
                    <div id="toRouteDiv">
                        <select data-placeholder="Пункт назначения" id="selectToRoute" data-rel="chosen" data-remote>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            $(document).ready(function () {
                $('#deskTree').tree({
                    primaryKey: 'id',
                    uiLibrary: 'bootstrap',
                    dataSource: '/BookingManagement/GetDeskFilter',
                    checkboxes: true
                });
                $('#sessionTree').tree({
                    primaryKey: 'id',
                    uiLibrary: 'bootstrap',
                    dataSource: '/BookingManagement/GetSessionFilter',
                    checkboxes: true
                });

                $('#selectAirline').select2({ width: "100%" });
                $('[data-remote]').select2({
                    width: "100%",
                    ajax: {
                        url: '/BookingManagement/SearchCity',
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                query: params.term
                            };
                        }
                    }                    
                });
                //$('[data-rel="chosen"],[rel="chosen"]').chosen({ width: "100%", search_contains: true });

                $("#min").datepicker({
                    locale: 'ru-ru',
                    uiLibrary: 'bootstrap',
                    format: 'dd.mm.yyyy'
                });
                $("#max").datepicker({
                    locale: 'ru-ru',
                    uiLibrary: 'bootstrap',
                    format: 'dd.mm.yyyy'
                });
                $("#min").val(moment().format("DD.MM.YYYY"));
                $("#max").val(moment().format("DD.MM.YYYY"));
            });
</script>