<style>
    .col-md-2.col-md-2 {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-brand {
        font-family: 'Shojumaru', cursive, Arial, serif;
        letter-spacing: 2px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 40%;
        font-size: 14px;
    }

    .nav-sm {
        display: block;
        margin-bottom: 10px;
        border-bottom: solid white 1px;
        padding-bottom: 10px;
    }

    .sidebar-nav .nav-canvas {
        top: -20px;
        left: -90%;
        position: absolute;
        width: 80%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        margin: 0 !important;
        border-radius: 0 0 20px 0;
        padding-bottom: 10px;
        will-change: left;
    }

    .sidebar-nav.active .nav-canvas {
        left: -20px;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
    }

    .sidebar-nav {
        position: relative;
        z-index: 3;
        margin: 0 !important;
        padding: 0;
    }

    .nav-canvas {
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .sidebar-nav a {
        border: none !important;
        color: white;
    }

    #for-is-ajax {
        color: white;
        margin-top: 15px;
    }

    .main-menu .nav-header {
        color: white;
    }

    ul.main-menu li:hover {
        margin-left: inherit;
    }

    ul.main-menu li.active {
        margin-left: inherit;
    }

    ul.main-menu a:hover, .nav-sm a:hover {
        background: none !important;
        color: grey;
    }

    .navbar-default .navbar-toggle:focus {
        background-color: inherit;
    }

    .navbar-default .navbar-toggle.active {
        box-shadow: 0 0 7px rgb(0, 255, 40);
        border: solid 1px white;
    }

    .navbar-toggle {
        margin-left: 5px;
        margin-right: 0;
    }

    .powered-by {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

    .table-wrapper .pinned {
        box-shadow: 0 0 20px black;
    }
</style>

<div class="col-md-12">
    
    <div class="row">
        <div class="col-md-3" style="float: left; width: 25%;"></div>
        <div class="btn-group col-md-9" style="float: left; width: 75%;">
            <input id="currentInfo" hidden value="0" />
            <button id="saleButton" class="btn btn-primary">Продажи</button>
            <button id="KRSButton" class="btn btn-primary">КРС</button>
            <button id="luggageButton" class="btn btn-primary">Багаж</button>
            <button id="operationsButton" class="btn btn-primary">Операции</button>
            <button id="searchOperationsButton" class="btn btn-primary">Поиск</button>
            <button id="atolOperationsButton" class="btn btn-primary">ККТ</button>
        </div>
<div class="row">
    <div class="col-md-3" id="dvFilter" data-url='@(Url.Action("Filter", "BookingManagement", null))' style="float: left; width: 25%;"></div>
    <div id="results" class="col-md-9" style="float: left; width: 75%;"></div>
    </div>
        
    </div>
</div>


<script type="text/javascript">
    onload = function () {
        if (window.attachEvent) {
            window.attachEvent('onload', loadBookingManagementFilter);
        } else {
            if (window.onload) {
                var curronload = window.onload;
                var newonload = function (evt) {
                    curronload(evt);
                    loadBookingManagementFilter(evt);
                };
                window.onload = newonload;
            } else {
                window.onload = loadBookingManagementFilter;
            }
        }
    };

    onload();

    

    function getBookingManagementSales() {
        $('#currentInfo').val(0);

        $.ajax({
            url: "/BookingManagement/Sales",
            type: "POST",
            cache: false,
            data: {
                fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text),
                airlineFilter: $('#selectAirline').find(':selected').map(function (idx, ele) {
                    return $(ele).val();
                }).get(),
                originCity: $('#selectFromRoute').find(':selected').map(function (idx, ele) {
                    return $(ele).val();
                }).get(),
                destinationCity: $('#selectToRoute').find(':selected').map(function (idx, ele) {
                    return $(ele).val();
                }).get()
            },
            dataType: "json",
            success: function (result) {                    
                $('#results').html(result.message);
                if ($("#min").val() === $("#max").val()) {
                    updateBookingManagementSales();
                }
                console.log('loaded');
            },
            error: function (error) {
                console.log(error.message);
            }
        });
    }

    var getSalesBuffer;
    $("#saleButton").click(function (e) {
        clearTimeout(getSalesBuffer);

        getSalesBuffer = setTimeout(getBookingManagementSales, 100);
    });

    var saleUpdateTimeout;
    function updateBookingManagementSales() {
        clearTimeout(saleUpdateTimeout);

        saleUpdateTimeout = setTimeout(getBookingManagementSales, 15000);
    }

    var getKRSBuffer;
    $("#KRSButton").click(function (e) {
        clearTimeout(getKRSBuffer);

        getKRSBuffer = setTimeout(function () {
            $('#currentInfo').val(1);
            clearTimeout(saleUpdateTimeout);
            $.ajax({
                url: "/BookingManagement/KRS",
                type: "POST",
                cache: false,
                data: {
                    fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                    toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                    deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                    sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text),
                    airlineFilter: $('#selectAirline').select2('data')
                },
                dataType: "json",
                success: function(result) {
                    $('#results').html(result.message);
                },
                error: function(error) {
                    console.log(error.message);
                }
            });
        }, 100);
    });

    var getLuggageBuffer;
    $("#luggageButton").click(function (e) {
        clearTimeout(getLuggageBuffer);

        getLuggageBuffer = setTimeout(function () {
            $('#currentInfo').val(2);
            clearTimeout(saleUpdateTimeout);
            $.ajax({
                url: "/BookingManagement/Luggage",
                type: "POST",
                cache: false,
                data: {
                    fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                    toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                    deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                    sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text),
                    airlineFilter: $('#selectAirline').select2('data')
                },
                dataType: "json",
                success: function (result) {
                    $('#results').html(result.message);
                },
                error: function (error) {
                    console.log(error.message);
                }
            });
        }, 100);
    });

    var getOperationsBuffer;
    $("#operationsButton").click(function (e) {
        clearTimeout(getOperationsBuffer);

        getOperationsBuffer = setTimeout(function () {
            $('#currentInfo').val(3);
            clearTimeout(saleUpdateTimeout);
            $.ajax({
                url: "/BookingManagement/Operations",
                type: "POST",
                cache: false,
                data: {
                    fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                    toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                    deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                    sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text),
                    airlineFilter: $('#selectAirline').select2('data')
                },
                dataType: "json",
                success: function (result) {
                    $('#results').html(result.message);
                },
                error: function (error) {
                    console.log(error.message);
                }
            });
        }, 100);
    });

    $("#searchOperationsButton").click(function (e) {
        $('#currentInfo').val(4);
        clearTimeout(saleUpdateTimeout);
        $.ajax({
            url: "/BookingManagement/SearchOperations",
            type: "GET",
            cache: false,
            success: function (result) {
                $('#results').html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    var getAtolBuffer;
    $("#atolOperationsButton").click(function (e) {
        clearTimeout(getAtolBuffer);

        getAtolBuffer = setTimeout(function () {
            $('#currentInfo').val(5);
            clearTimeout(saleUpdateTimeout);
            $.ajax({
                url: "/BookingManagement/AtolOperations",
                type: "POST",
                cache: false,
                data: {
                    fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                    toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true)
                },
                dataType: "json",
                success: function (result) {
                    $('#results').html(result.message);
                },
                error: function (error) {
                    console.log(error.message);
                }
            });
        }, 100);
    });
</script>