<div class="btn-group">
    <a asp-action="Sales" asp-controller="BookingManagement" asp-route-isCustom="true"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Продажи</a>
</div>

<div class="box col-md-10">
    <div id="results"></div>
</div>
