<div class="col-md-10">
    <div class="row">
        <p id="dvFilter" data-url='@(Url.Action("Filter", "BookingManagement", null))'>
        </p>
    </div>
    <div class="row">
        <p class="btn-group">
            <input id="currentInfo" hidden value="0" />
            <button id="saleButton" class="btn btn-primary">Продажи</button>
            <button id="KRSButton" class="btn btn-primary">КРС</button>
            <button id="luggageButton" class="btn btn-primary">Багаж</button>
        </p>

        <div id="results"></div>
    </div>
</div>


<script type="text/javascript">
    onload = function () {
        if (window.attachEvent) {
            window.attachEvent('onload', loadBookingManagementFilter);
        } else {
            if (window.onload) {
                var curronload = window.onload;
                var newonload = function (evt) {
                    curronload(evt);
                    loadBookingManagementFilter(evt);
                };
                window.onload = newonload;
            } else {
                window.onload = loadBookingManagementFilter;
            }
        }
    };

    onload();

    

    function getBookingManagementSales() {
        $('#currentInfo').val(0);

        $.ajax({
            url: "/BookingManagement/Sales",
            type: "POST",
            cache: false,
            data: {
                fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text),
                airlineFilter: $('#selectAirline').select2('data')
            },
            dataType: "json",
            success: function (result) {                    
                $('#results').html(result.message);
                if ($("#min").val() === $("#max").val()) {
                    updateBookingManagementSales();
                }
                console.log('loaded');
            },
            error: function (error) {
                console.log(error.message);
            }
        });
    }

    var getSalesBuffer;
    $("#saleButton").click(function (e) {
        clearTimeout(getSalesBuffer);

        getSalesBuffer = setTimeout(getBookingManagementSales, 100);
    });

    var saleUpdateTimeout;
    function updateBookingManagementSales() {
        clearTimeout(saleUpdateTimeout);

        saleUpdateTimeout = setTimeout(getBookingManagementSales, 15000);
    }

    var getKRSBuffer;
    $("#KRSButton").click(function (e) {
        clearTimeout(getKRSBuffer);

        getKRSBuffer = setTimeout(function () {
            $('#currentInfo').val(1);
            clearTimeout(saleUpdateTimeout);
            $.ajax({
                url: "/BookingManagement/KRS",
                type: "POST",
                cache: false,
                data: {
                    fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                    toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                    deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                    sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text),
                    airlineFilter: $('#selectAirline').select2('data')
                },
                dataType: "json",
                success: function(result) {
                    $('#results').html(result.message);
                },
                error: function(error) {
                    console.log(error.message);
                }
            });
        }, 100);
    });

    var getLuggageBuffer;
    $("#luggageButton").click(function (e) {
        clearTimeout(getLuggageBuffer);

        getLuggageBuffer = setTimeout(function () {
            $('#currentInfo').val(2);
            clearTimeout(saleUpdateTimeout);
            $.ajax({
                url: "/BookingManagement/Luggage",
                type: "POST",
                cache: false,
                data: {
                    fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                    toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                    deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                    sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text),
                    airlineFilter: $('#selectAirline').select2('data')
                },
                dataType: "json",
                success: function (result) {
                    $('#results').html(result.message);
                },
                error: function (error) {
                    console.log(error.message);
                }
            });
        }, 100);
    });
</script>