<div class="col-md-10">
    <div class="row">
        <p id="dvFilter" data-url='@(Url.Action("Filter", "BookingManagement", null))'>
        </p>
    </div>
    <div class="row">
        <p class="btn-group">
            <button id="saleButton" class="btn btn-primary">Продажи</button>
        </p>

        <div id="results"></div>
    </div>
</div>


<script type="text/javascript">
    onload = function () {
        if (window.attachEvent) {
            window.attachEvent('onload', loadBookingManagementFilter);
        } else {
            if (window.onload) {
                var curronload = window.onload;
                var newonload = function (evt) {
                    curronload(evt);
                    loadBookingManagementFilter(evt);
                };
                window.onload = newonload;
            } else {
                window.onload = loadBookingManagementFilter;
            }
        }
    };

    onload();

    $("#saleButton").click(function (e) {
        $.ajax({
            url: "/BookingManagement/Sales",
            type: "POST",
            cache: false,
            data: {
                fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
                toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
                deskFilter: $('#deskTree').jstree('get_bottom_selected', false),
                sessionFilter: $('#sessionTree').jstree('get_bottom_selected', true).map(s => s.text)
            },
            dataType: "json",
            success: function (result) {
                $('#results').html(result.message);
                if($("#min").val() === $("#max").val()) {
                    setTimeout(function() {
                        $("#saleButton").click();
                    }, 5000);
                }
            },
            error: function (error) {
                console.log(error.message);
            }
        });
    });
</script>