

<div class="row" id="dvFilter" data-url='@(Url.Action("Filter", "BookingManagement", null))'>
</div>

<table>

</table>

<script type="text/javascript">
    onload = function () {
        if (window.attachEvent) {
            window.attachEvent('onload', loadBookingManagementFilter);
        } else {
            if (window.onload) {
                var curronload = window.onload;
                var newonload = function (evt) {
                    curronload(evt);
                    loadBookingManagementFilter(evt);
                };
                window.onload = newonload;
            } else {
                window.onload = loadBookingManagementFilter;
            }
        }
    };

    onload();
</script>