<div>
    <input type="text" id="keyString" autocomplete="off" />
    Документ: <input type="text" id="doc" autocomplete="off" />
    <button id="searchButton">Найти</button>
</div>

<div id="operationsResult" />

<script>
    $(function() {
        //$(".datePicker").datepicker({
        //    autoclose: true
        //}).datepicker('setDate', moment().format("DD.MM.YYYY"));
    });

    $("#searchButton").click(function (e) {
        $.ajax({
            url: "/BookingManagement/SearchOperations",
            type: "POST",
            cache: false,
            data: {
                key: $('#keyString').val(),
                doc: $('#doc').val()
            },
            dataType: "json",
            success: function (result) {
                $('#operationsResult').html(result.message);
            },
            error: function (error) {
                console.log(error.message);
            }
        });
    });
</script>