@using AvibaWeb.DomainModels
@model Organization

<div class="box col-md-10">
    <div class="box-inner" style="margin-top:-10px;">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> Создать организацию</h2>
        </div>
        <div class="box-content">

            <form asp-controller="Admin" asp-action="CreateOrganization"
                  data-ajax-update="#results" data-ajax="true" data-ajax-method="POST">
                @Html.AntiForgeryToken()

                <div class="row">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Создать" />
                        <a asp-action="Organizations" asp-controller="Admin"
                           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
                           class="btn btn-danger">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>