@using AvibaWeb.ViewModels.AdminViewModels
@model AvibaWeb.ViewModels.AdminViewModels.LoanGroupViewModel

<div class="box col-md-10">
    <div class="box-inner" style="">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> Редактор подразделения</h2>
        </div>
        <div class="box-content">
            
            <input type="hidden" value="@Model.Id" id="loanGroupId" />
            <select data-placeholder="Контрагенты" id="selectCounterparty" data-rel="chosen">
                <option value=""></option>
                @foreach (var counterparty in Model.Counterparties)
                {
                    <option>@counterparty</option>
                }
            </select>
            <a class="btn btn-primary btn-setting" href="#" id="addCounterpartyBtn"><i class="glyphicon glyphicon-plus"></i> Добавить фирму</a>

            @foreach (var counterparty in Model.GroupCounterparties)
            {
                <div>@counterparty</div>
            }
        </div></div></div>

<div class="modal fade" id="dialog" title="Basic dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Новая фирма</span>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script>
    onload = function () {
        $('[data-rel="chosen"],[rel="chosen"]').chosen({ width: "100%" });
    }

    onload();

    $("#addCounterpartyBtn").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Admin/ShowCounterpartyOperations",
            type: "GET",
            cache: false,
            data: {
                LoanGroupId: $("#loanGroupId").val(),
                CounterpartyName: $("#selectCounterparty").next().find("a.chosen-single span").first().html()
            },
            success: function (result) {
                $(".modal-body").html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>