@using AvibaWeb.DomainModels
@using AvibaWeb.Models
@using AvibaWeb.Infrastructure
@model IQueryable<AvibaWeb.DomainModels.ExpenditureObject>

@{
    ViewBag.Title = "Статьи расхода";
}

    <div class="box col-md-10">
    <div class="box-inner" style="">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> Статьи расхода</h2>
    </div>
    <div class="box-content">
    <div class="alert" style="text-align:right;">
	<a class="btn btn-success" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" href=@Url.Action("CreateExpenditureObject","Admin")>
                <i class="glyphicon glyphicon-plus icon-white"></i>
                Создать
            </a>
	</div>

    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
	 <thead>
        <tr>
            <th>Статьи расхода</th>
			<th>Действия</th>
        </tr>
		</thead>
		    <tbody>

        @if (!Model.Any())
            {
            <tr><td colspan="3" class="text-center">Нет статей расходов</td></tr>
        }
        else
        {
            foreach (var expenditureObject in Model)
            {
                <tr>
                    <td>@expenditureObject.Description
					@if( expenditureObject.IsActive )
					{
						<span class="label-success label label-default">Активна</span>
					}
					else
					{
						<span class="label-default label label-danger">Не активна</span>
					}
					</td>
                    <td>
							<a class="btn btn-info" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" href=@Url.Action("EditExpenditureObject","Admin", new{id = expenditureObject.ExpenditureObjectId})>
							<i class="glyphicon glyphicon-edit icon-white"></i>
							Изменить
						</a>
                    </td>
                </tr>
            }
        }
		</tbody>
    </table>
</div>
    </div>
    </div>

</div>


