
<div class="btn-group">
<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">Доступы <span
class="caret"></span></button>
<ul class="dropdown-menu">
<li><a asp-action="Users" asp-controller="Admin" 
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-user"></i> Пользователи</a></li>
<li><a asp-action="Roles" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-folder-open"></i> Роли</a></li>
</ul>
</div>
<div class="btn-group">
<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">Структура <span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a asp-action="Desks" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-list-alt"> </i> Пульты</a></li>
<li><a asp-action="DeskGroups" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-folder-open"> </i> Подразделения</a></li>
</ul>
</div>
<div class="btn-group">
<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">Финансы <span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a asp-action="ExpenditureObjects" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-list-alt"> </i> Статьи расхода</a></li>
<li><a asp-action="ExpenditureTypes" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-list-alt"> </i> Типы операций</a></li>
</ul>
</div>
<div class="btn-group">
<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">Фирмы <span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a asp-action="Counterparties" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-list-alt"> </i> Контрагенты</a></li>
<li><a asp-action="CounterpartyTypes" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-list-alt"> </i> Типы контрагентов</a></li>
<li><a asp-action="Organizations" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class=""><i class="glyphicon glyphicon-list-alt"> </i> Наши организации</a></li>
</ul>
</div>
<div class="btn-group">    
  
    <a asp-action="LoanGroups" asp-controller="Admin"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Группы негодяев</a>
</div>

<div id="results"></div>
