@using AvibaWeb.Models
@using AvibaWeb.Infrastructure
@using AvibaWeb.ViewModels.AdminViewModels
@model IQueryable<AvibaWeb.ViewModels.AdminViewModels.RoleViewModel>

@{
    ViewBag.Title = "Роли";
}

<div class="box col-md-10">
    <div class="box-inner" style="">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> Роли</h2>
        </div>
        <div class="box-content">
            <div class="alert" style="text-align:right;">
                <a class="btn btn-success" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" href=@Url.Action("CreateRole","Admin")>
                    <i class="glyphicon glyphicon-plus icon-white"></i>
                    Создать
                </a>
            </div>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                <thead>
                    <tr>
                        <th>Роль</th>
                        <th>Участники</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>

                    @if (!Model.Any())
                    {
                        <tr><td colspan="3" class="text-center">Нет ролей</td></tr>
                    }
                    else
                    {
                        foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.Name</td>
                                <td>
                                    @if (role.Members == null || !role.Members.Any())
                                    {
                                        @: Нет участников
                                    }
                                    else
                                    {
                                        <p>
                                            @string.Join(", ", role.Members)
                                        </p>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-info" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" href=@Url.Action("EditRole","Admin", new{id = role.Id})>
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        Изменить
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>


