@using AvibaWeb.ViewModels.CollectionViewModels
@model AvibaWeb.ViewModels.CollectionViewModels.BalanceModel

        <div class="box col-md-6">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>Баланс</h2>
					<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-down"></i></a>
					</div>
				</div>
                <div class="box-content" style="display:none;">
                    <div class="row">
                        <div class="col-md-6 col-sm-6"><h5><b>Баланс</b></h5></div>
                        <div class="col-md-6 col-sm-6"><h5><b>@Model.BalanceStr</b></h5></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><h5>Не подтверждено</h5></div>
                        <div class="col-md-6"><h5>@Model.IncomingNotAcceptedStr</h5></div>
                    </div>
					<div class="row">
                        <div class="col-md-6"><h5>В ожидании</h5></div>
                        <div class="col-md-6"><h5>@Model.IssuedNotAcceptedStr</h5></div>
                    </div>
					<div class="row">
                        <div class="col-md-6"><h5>Остаток</h5></div>
                        <div class="col-md-6"><h5>@Model.TotalStr</h5></div>
                    </div>
                    
                </div></div></div>
        