@using AvibaWeb.ViewModels.CollectionViewModels
@model CollectionInfoModel

<div class="box col-md-10">
    <div class="row" id="dvUserBalance" data-url='@(Url.Action("Balance", "Collection", null))'>
    </div>
    <div id="results"></div>
</div> 

<script type="text/javascript">
    onload = function () {
        if (window.attachEvent) {
            console.log('window.attachEvent');
            window.attachEvent('onload', updateBalance);
        } else {
            if (window.onload) {
                console.log('window.onload');
                var curronload = window.onload;
                var newonload = function (evt) {
                    curronload(evt);
                    updateBalance(evt);
                };
                window.onload = newonload;
            } else {
                window.onload = updateBalance;
            }
        }
    };

    onload();
</script>
