/refs/
.vscode/
/bin/
/bower_components/
/Content/
/Controllers/
/Data/
/Extensions/
/fonts/
/Hubs/
/images/
/Infrastructure/
/Migrations/
/Models/
/node_modules/
/obj/
/Properties/
/Scripts/
/Test/
/ViewModels/
/DomainModels/
*.dll
*.pdb
*.config
*.json
.bowerrc
*.csproj*
*.cs