/refs/
.vscode/
/bin/
/bower_components/
/Content/
/Extensions/
/fonts/
/Hubs/
/images/
/Models/
/node_modules/
/obj/
/Properties/
/Scripts/
/Test/
/ViewComponents/
/1c/
/wwwroot/img/reportTemplate/
*.dll
*.pdb
*.config
*.json
.bowerrc
*.csproj*
.gitignore
.DS_Store
