@using AvibaWeb.ViewModels.ManagementAccountingViewModels
@model CorporatorBlockViewModel

<div class="row">
<div class="col-md-6"><span class="red">Задолженность:</span></div>
<div class="col-md-6"><span class="red pull-right animated flash">@Model.NegBalance</span></div>    
</div>
<div class="row">
<div class="col-md-6"><span class="green">Предоплата:</span></div>
<div class="col-md-6"><span class="green pull-right animated flash">@Model.PosBalance</span></div>    
</div>
<div class="row">
<div class="col-md-6"><span class="">Сальдо:</span></div>
<div class="col-md-6"><span class="pull-right animated flash">@Model.TotalStr</span></div>    
</div>

