<style>
.col-md-10 {
    display: flex;
    
    flex-flow: row wrap;
}
.b1{
    order: 1;
}
.b2{
    order: 1;
}
.b3{
    order: 1;
}
.b4{
    order: 6;
}
.b5{
    order: 1;
}
.b6{
    order: 7;
}
.b7{
    order: 1;
}
.b8 {
    order:10;
}
.b9{
    order: -5;
}
.b10 {
    order: 2;
}
.mWaiting {
    
    background: none;
}
</style>
<div class="col-md-10">
    
    <div class="box col-md-5 col-sm-12 b9">
        <div class="box-inner" id="summaryBlock">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Финансы</h2>
                <div class="box-icon"><h2 class="blue" id="doc_time"></h2><img class="hidden" id="fLoad" src="img/ajax-loaders/ajax-loader-1.gif" title="img/ajax-loaders/ajax-loader-1.gif"></div>
            </div>
            <div class="box-content" id="summaryBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-12 b10"></div>
    <div class="box col-md-4 b2 hidden" id="cashlessBlock">
        <div class="box-inner" style="cursor: pointer;">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Банк</h2>
            </div>
            <div class="box-content" id="cashlessBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-4 b1 hidden" id="cashBlock">
        <div class="box-inner " style="cursor: pointer;">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Наличные</h2>
            </div>
            <div class="box-content" id="cashBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-12 b8"></div>
    <div class="box col-md-4 b7 hidden" id="transitBlock">
        <div class="box-inner" style="cursor: pointer;">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Негодяи</h2>
            </div>
            <div class="box-content" id="transitBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-5 b5 hidden" id="providersBlock">
        <div class="box-inner" style="cursor: pointer;">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Взаиморасчеты</h2>
            </div>
            <div class="box-content" id="providersBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-4 b3 hidden" id="corporatorsBlock">
        <div class="box-inner" style="cursor: pointer;">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Корпораторы</h2>
            </div>
            <div class="box-content" id="corporatorsBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-4 b6 hidden">
        <div class="box-inner" style="cursor: pointer;" id="salesBlock">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-user"></i> Продажи</h2>
            </div>
            <div class="box-content" id="salesBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-4 b4 hidden">
        <div class="box-inner" style="cursor: pointer;" id="expendituresBlock">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-user"></i> Расходы</h2>
            </div>
            <div class="box-content" id="expendituresBlockContent">
            </div>
        </div>
    </div>
    <div class="box col-md-6 b3 hidden" id="subagentsBlock">
        <div class="box-inner" style="cursor: pointer;">
            <div class="box-header well" data-original-title="" style="overflow: hidden;">
                <h2><i class="glyphicon glyphicon-user"></i> Субагенты</h2>
            </div>
            <div class="box-content" id="subagentsBlockContent">
            </div>
        </div>
    </div>
</div>

<script>
    $("#cashlessBlock").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "/Report/CashlessOrg",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#contentResults").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    $("#cashBlock").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "/Report/OnlineInfo",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#contentResults").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    $("#transitBlock").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "/Transit/Index",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#contentResults").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    $("#providersBlock").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "/ManagementAccounting/ProviderBalance",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#contentResults").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    $("#corporatorsBlock").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "/Report/CashlessCounterparties",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#contentResults").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

   

    $(function get_fb() {
        $.ajax({
            url: "/ManagementAccounting/Summary",
            type: "GET",
            cache: false,
            beforeSend: function (jqXHR, settings) {
                    const block = document.getElementById("fLoad");
                    block.classList.remove("hidden");
            },
	            success: function (result) {
                $("#summaryBlockContent").html(result);
                setTimeout(function(){get_fb();}, 60000);
                const block = document.getElementById("fLoad");
                block.classList.add("hidden");
                clock();
            },
            error: function (error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Cashless",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#cashlessBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Cash",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#cashBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Transit",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#transitBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Providers",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#providersBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Corporators",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#corporatorsBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Sales",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#salesBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Expenditures",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#expendituresBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: "/ManagementAccounting/Subagents",
            type: "GET",
            cache: false,
            success: function(result) {
                $("#subagentsBlockContent").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });


</script>