<p class="btn-group">
    <a asp-action="ProviderBalance" asp-controller="ManagementAccounting"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Взаиморасчет</a>
</p>

<div class="box col-md-10">
    <div id="results"></div>
</div>