<partial name="Cashless"/>
<partial name="Cash" />
<partial name="Transit" />
<partial name="Providers" />
<partial name="Corporators" />
<partial name="Sales" />
<partial name="Expenditures" />

<div class="box col-md-10">
    <div id="results"></div>
</div>