<style>
.col-md-10 {
    display: flex;
    
    flex-flow: row wrap;
}
.b1{
    order: 1;
}
.b2{
    order: 2;
}
.b3{
    order: 4;
}
.b4{
    order: 6;
}
.b5{
    order: 8;
}
.b6{
    order: 7;
}
.b7{
    order: 5;
}
.b8 {
    order:3;
}
</style>

<div class="col-md-10">
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Cashless" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Cash" })
<div class="box col-md-12 b8"></div>
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Transit" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Providers" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Corporators" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Sales" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Expenditures" })
</div>
