@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Cashless" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Cash" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Transit" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Providers" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Corporators" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Sales" })
@await Component.InvokeAsync("ManagementAccountingBlock", new { viewName = "Expenditures" })

<div class="box col-md-10">
    <div id="results"></div>
</div>