@using AvibaWeb.ViewModels.ManagementAccountingViewModels
@model CashlessBlockViewModel
<div class="row">
<div class="col-md-6"><b class="yellow">Итого:</b></div>
<div class="col-md-6"><b class="yellow pull-right animated flash">@Model.Total</b></div>    
</div>


@foreach (var org in Model.Organizations)
{
    <div class="row">
    <div class="col-md-6"><span class="blue">@org.Name</span></div>
    <div class="col-md-6"><span class="blue pull-right animated flash">@org.BalanceStr
         @*@if (org.Name == "АО \"Транспортная Клиринговая палата\"")
         {
             @:/ <b class="green">@org.CustomBalanceStr</b>
        }*@
</span></div>    
    </div>
    
}
