@using AvibaWeb.DomainModels
@using AvibaWeb.ViewModels.ReportViewModels
@model List<Counterparty>


<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Баланс провайдеров услуг</h2>
            </div>
            <div class="box-content">
                @if (!Model.Any())
                {
                    <div class="row">
                        <div>Нет контрагентов</div>
                    </div>
                }
                else
                {
                    foreach (var counterparty in Model)
                    {
                        <div class="row">
                            <div class="col-md-3">@Html.DisplayFor(c => counterparty.Name)</div>
                            <div class="col-md-2"><b>@Html.DisplayFor(c => counterparty.Balance)</b></div>
                        </div>
                        <hr>
                    }
                }
            </div>
        </div>
    </div>
</div>