@using AvibaWeb.ViewModels.ManagementAccountingViewModels
@model CashlessBlockViewModel

<div class="col-md-6"><b class="yellow">Итого:</b></div>
<div class="col-md-6"><b class="yellow pull-right">@Model.Total</b></div>
@foreach (var org in Model.Organizations)
{
<div class="col-md-6"><span class="blue">@org.Name</span></div>
<div class="col-md-6"><span class="blue pull-right">@org.BalanceStr</span></div>
}
