<p class="btn-group">
    <a asp-action="KRSCancelRequests" asp-controller="Management"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Аннуляция КРС</a>
    <a asp-action="TicketCancel" asp-controller="Management"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Аннуляция билетов</a>
</p>

<div class="box col-md-10">
    <div id="results"></div>
</div>