<div>
    <input type="text" id="period" class="datePicker" autocomplete="off" placeholder="Выбор периода" />
    <button id="searchButton">Показать</button>
</div>

<div id="result" />

<script>
    $(function () {
        $('#period').datepicker({
            viewMode: 'months',
            minViewMode: 'months',
            format: 'mm/yyyy'
        });
    });

    $("#searchButton").click(function (e) {
        $.ajax({
            url: "/Management/Paycheck",
            type: "POST",
            cache: false,
            data: {
                date: moment($('#period').val(), "MM/YYYY").toISOString(true),
            },
            dataType: "json",
            success: function (result) {
                $('#result').html(result.message);
            },
            error: function (error) {
                console.log(error.message);
            }
        });
    });
</script>