<p>
    <a asp-action="Staff" asp-controller="Directory"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Сотрудники</a>
</p>

<div id="results"></div>

