 <p class="btn-group">
    <a asp-action="OnlineInfo" asp-controller="Report"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Наличные</a>
    <a asp-action="CashlessOrg" asp-controller="Report"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Безнал счета</a>
    <a asp-action="CashlessCounterparties" asp-controller="Report"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Корпораторы</a>
       <span class="label-default btn">Продажи</a>
</p>
    
 <div id="results"></div>
