<p class="btn-group">
    @if (User.IsInRole("Administrators") || User.IsInRole("Офис"))
    {
        <a asp-action="OnlineInfo" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Наличные</a>
        <a asp-action="CashlessOrg" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Безнал счета</a>
        <a asp-action="CashlessCounterparties" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Корпораторы</a>
        <a asp-action="ExpenditureSummary" asp-controller="Report" asp-route-grouping="@AvibaWeb.ViewModels.ReportViewModels.ExpenditureSummaryGrouping.ByDeskGroup"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Расходы</a>
        <a asp-action="IncomeSummary" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Доходы</a>
        <a asp-action="FinalSummary" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Сводка</a>
    }
    
@if (User.IsInRole("Administrators"))
{
    <button id="createdata">test</button>
}
</p>

<div id="results">
</div>

<script>
    $('#createdata').click(function (e) {
        // if using type="submit", this is mandatory
        e.preventDefault();

        window.open('@Url.Action("ReceiptConvertPDFData", "CorpReceipt", new { id = 0 })', '_blank');
    });
</script>