<p class="btn-group">
    @if (User.IsInRole("Administrators") || User.IsInRole("Офис"))
    {
        <a asp-action="OnlineInfo" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Наличные</a>
        <a asp-action="CashlessOrg" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Безнал счета</a>
        <a asp-action="CashlessCounterparties" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Корпораторы</a>
        <a asp-action="ExpenditureSummary" asp-controller="Report" asp-route-grouping="@AvibaWeb.ViewModels.ReportViewModels.ExpenditureSummaryGrouping.ByDeskGroup"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Расходы</a>
        <a asp-action="IncomeSummary" asp-controller="Report"
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
           class="btn btn-primary">Доходы</a>
    }
    <!--
       <span class="label-default btn">Продажи</a>
    -->
</p>

<div id="results">
    <!--
        <div class="box col-md-10">
            <div class="col-md-3 col-sm-3 col-xs-12">
            <span data-toggle="tooltip" title="Наличные" class="well top-block">
                <div class="row">
                <div class="col-md-12 text-left">
                    <span class=""><b>Наличные:</b></span>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="yellow">Всего</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="yellow">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="yellow">Оф.+Инк.</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="yellow">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="blue">Офис</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="blue">0.00</span>
                    </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4"><h6 class="green">0</h6></div>
                    <div class="col-md-4 col-sm-4 col-xs-4"><h6 class="yellow">0</h6></div>
                    <div class="col-md-4 col-sm-4 col-xs-4"><h6 class="red">0</h6></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="blue">Кассы</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="blue">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="blue">Инкассаторы</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="blue">0.00</span>
                    </div>
                </div>

            </span>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
            <span data-toggle="tooltip" title="Наличные" class="well top-block">
                <div class="row">
                <div class="col-md-12 text-left">
                <span class="">Безнал:</span>
                </div></div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="yellow">Всего</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="yellow">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="yellow">На счетах</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="yellow">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="blue">Долг (Н)</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="blue">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="blue">Долг (К)</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="blue">0.00</span>
                    </div>
                </div>
            </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
            <span data-toggle="tooltip" title="Наличные" class="well top-block">
                <div class="row">
                <div class="col-md-12 text-left">
                <span class="">Корпораторы:</span>
                </div></div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="blue">Сальдо</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="blue">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="red">Задолженность</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="red">0.00</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <span class="green">Предоплата</span>
                    </div>
                    <div class="col-md-6 text-left">
                        <span class="green">0.00</span>
                    </div>
                </div>
            </span>
            </div>



        </div>
    -->
</div>
