@using AvibaWeb.ViewModels.ReportViewModels
@model OfficeBillInfoViewModel


<table class="table table-condensed responsive" style="margin:0 0 0 0; padding:0 0 0 0">
    <tbody>
        <tr>
            <td><h6 class="green">@Model._5kBillSum</h6></td>
            <td><h6 class="yellow">@Model._2kBillSum</h6></td>
            <td><h6 class="red">@Model.RemainderSum</h6></td>
        </tr>
    </tbody>
</table>