@using AvibaWeb.ViewModels.ReportViewModels
@model OfficeBillInfoViewModel

<div class="col-md-4 col-sm-4 col-xs-4"><h6 class="green">@Model._5kBillSum</h6></div>
<div class="col-md-4 col-sm-4 col-xs-4"><h6 class="yellow">@Model._2kBillSum</h6></div>
<div class="col-md-4 col-sm-4 col-xs-4"><h6 class="red">@Model.RemainderSum</h6></div>