@using AvibaWeb.ViewModels.CorpClientViewModels
@model IndexViewModel

@if (Model.IsUserLoggedInKRS ||
   User.IsInRole("Administrators") || User.IsInRole("Офис") || User.IsInRole("Инкассаторы") || User.IsInRole("Кассиры") || User.IsInRole("Бухгалтерия") || User.IsInRole("Корпоративные менеджеры"))
{
<p class="btn-group">
    <a asp-action="CreateReceipt" asp-controller="CorpClient"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon-plus">&nbsp;</i>Создать счет</a>
    <a asp-action="Receipts" asp-controller="CorpClient"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-list-alt">&nbsp;</i>Список счетов</a>
    <a asp-action="Corporators" asp-controller="CorpClient"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon-cog">&nbsp;</i>Настройки клиентов</a>
    <a asp-action="ReviseReport" asp-controller="CorpClient"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-plus">&nbsp;</i>Акт сверки</a>
    <a asp-action="CashlessCounterparties" asp-controller="Report"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Баланс</a>
    <a asp-action="CorporatorsReport" asp-controller="CorpClient"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Отчет корпораторов</a>
</p>
}
else
{
    <p>Войдите в систему КРС</p>
}

<div class="box col-md-10">
    <div id="results"></div>
</div>