@using AvibaWeb.ViewModels.CorpReceiptViewModels

<div class="col-md-12">
    Выбрать с: <input type="text" id="min" name="min" class="date-range-filter"> по: <input type="text" id="max" name="max" class="date-range-filter">
    <a href="/" id="getReceiptListBtn" class="btn btn-success">Список счетов</a>
</div>

<div class="col-md-12" id="receiptListBlock">
</div>

<script>
    $("#getReceiptListBtn").click(function (e) {
        const sendJsonData = {
            fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
            toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true)
        };

        e.preventDefault();
        $.ajax({
            url: "/CorpClient/ReceiptList",
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(sendJsonData),
            success: function (result) {
                $("#receiptListBlock").html(result.message);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>