@using AvibaWeb.ViewModels.CorpClientViewModels
@model ReceiptsViewModel

@if (User.IsInRole("Administrators") || User.IsInRole("Офис") || User.IsInRole("Корпоративные менеджеры") || User.IsInRole("Бухгалтерия"))
{
<div class="box-content">
    <div class="row">
        <style>
            .popup {
                position: fixed;
                top: 150px;
                right: 0;
                padding: 10px;
                text-align: left;
                background-color: #eee;
                border: 1px solid #ccc;
                z-index: 1;
            }
            .popup > div {
                display: table-row;
                width: 100%;
            }
            .popup > div > div {
                display: table-cell;
                width: 50%;
            }
            .popup > div > div + div {
                width: 50%;
                padding-left: 10px;
            }
        </style>
        <div class="popup" id="sumPopup" style="display:none;">
            <div>
                <div>Кол-во авиабилетов:</div>
                <div id="aviaSegTotal"></div>
            </div>
            <div>
                <div>Кол-во ж/д билетов:</div>
                <div id="zdSegTotal"></div>
            </div>
            <div>
                <div>Кол-во доп. услуг:</div>
                <div id="luggageSegTotal"></div>
            </div>
            <div>
                <div>Сумма авиабилетов:</div>
                <div id="aviaCostTotal"></div>
            </div>
            <div>
                <div>Сумма ж/д билетов:</div>
                <div id="zdCostTotal"></div>
            </div>
            <div>
                <div>Сумма доп. услуг:</div>
                <div id="luggageCostTotal"></div>
            </div>
            <div>
                <div class="red"><b>Сумма сборов:</b></div>
                <div class="red" id="feeTotal"><b></b></div>
            </div>
            <div>
                <div>Сборы авиабилетов:</div>
                <div id="aviaFeeTotal"></div>
            </div>
            <div>
                <div>Сборы ж/д билетов:</div>
                <div id="zdFeeTotal"></div>
            </div>
            <div>
                <div>Сборы доп. услуг:</div>
                <div id="luggageFeeTotal"></div>
            </div>            
        </div>
        <div class="popup" style="top: 109px;" id="toggleSumPopupBtn">
            <span>Показать суммы</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h5>Организация:</h5>
            <div id="payeeSelectDiv">
                <select data-placeholder="Выбрать организацию" id="selectPayee" data-rel="chosen">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <h5>Корпоратор:</h5>
            <div id="payerSelectDiv">
                <select data-placeholder="Выбрать корпоратора" id="selectPayer" data-rel="chosen">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <button id="resetSelect" class="btn btn-success">Сбросить</button>
            <input hidden id="withBanks" value="false" />
            <input hidden id="withFees" value="false" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label for="isOnlyPaid">Только оплаченные</label>
            <input id="isOnlyPaid" type="checkbox" />
        </div>
    </div>
</div>
}

<div class="col-md-12">
    Выбрать с: <input type="text" autocomplete="off" id="min" name="min" class="date-range-filter"> по: <input type="text" autocomplete="off" id="max" name="max" class="date-range-filter">
    <a href="/" id="getReceiptListBtn" class="btn btn-success">Список счетов</a>
    @if (User.IsInRole("Administrators") || User.IsInRole("Офис") || User.IsInRole("Корпоративные менеджеры") || User.IsInRole("Бухгалтерия"))
    {
    <button id="createReportListPDF" class="btn btn-primary">Пакетное формирование&#13;&#10;документов</button>
    }
</div>

<div class="col-md-12" id="receiptListBlock">
</div>

<script>
    $("#getReceiptListBtn").click(function (e) {
        var selectPayee = $("#selectPayee").select2('data');
        var selectPayer = $("#selectPayer").select2('data');

        const sendJsonData = {
            payerId: (typeof selectPayer !== 'undefined' && selectPayer.length > 0) ? selectPayer[0].id : "",
            payeeId: (typeof selectPayee !== 'undefined' && selectPayee.length > 0) ? selectPayee[0].id : "",
            isOnlyPaid: $("#isOnlyPaid").prop('checked'), 
            fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
            toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true)
        };

        e.preventDefault();
        $.ajax({
            url: "/CorpClient/ReceiptList",
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(sendJsonData),
            success: function (result) {
                $("#receiptListBlock").html(result.message);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $("#createReportListPDF").click(function (e) {
        var selectPayee = $("#selectPayee").select2('data');
        var selectPayer = $("#selectPayer").select2('data');

        const sendJsonData = {
            payerId: (typeof selectPayer !== 'undefined' && selectPayer.length > 0) ? selectPayer[0].id : "",
            payeeId: (typeof selectPayee !== 'undefined' && selectPayee.length > 0) ? selectPayee[0].id : "",
            isOnlyPaid: $("#isOnlyPaid").prop('checked'), 
            fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
            toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true)
        };

        $.ajax({
            url: "/CorpClient/ReceiptListPDFData",
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(sendJsonData),
            success: function (result) {
                getReceiptListPDF(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $(function () {
        var d1 = $.Deferred();
        var d2 = $.Deferred();

        $.get("/CorpReceipt/OrganizationSelect", function (data) {
            $('#selectPayee').select2({
                placeholder: "Выбрать организацию",
                width: "100%",
                data: data.results,
                language: "ru"
            });
            d1.resolve();
        });

        $.get("/CorpReceipt/CorporatorSelect", function (data) {
            $('#selectPayer').select2({
                placeholder: "Выбрать корпоратора",
                width: "100%",
                data: data.results,
                language: "ru"
            });
            d2.resolve();
        });

        $.when(d1, d2).done(function (v1, v2) {
            $("#getReceiptListBtn").trigger("click");
        });

        $("#min").datepicker();
        $("#max").datepicker();

        $("#min").datepicker('setDate', moment().subtract(30, 'days').format("DD.MM.YYYY"));
        $("#max").datepicker('setDate', moment().format("DD.MM.YYYY"));
    });

    $("#resetSelect").click(function (e) {
        $('#selectPayee').empty();
        $('#selectPayer').empty();

        $.get("/CorpReceipt/OrganizationSelect", function (data) {
            $('#selectPayee').select2({
                placeholder: "Выбрать организацию",
                width: "100%",
                data: data.results,
                language: "ru"
            });

            $('#selectPayee').val(null).trigger('change');
        });

        $.get("/CorpReceipt/CorporatorSelect", function (data) {
            $('#selectPayer').select2({
                placeholder: "Выбрать корпоратора",
                width: "100%",
                data: data.results,
                language: "ru"
            });

            $('#selectPayer').val(null).trigger('change');
        });
    });
</script>