@using AvibaWeb.ViewModels.CorpClientViewModels
@model ReviseReportViewModel

<div class="box col-md-12">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2>Создание акта сверки</h2>
        </div>
        <div class="box-content">
            <div class="row">
                <div class="col-md-6">
                    <h5>Организация:</h5>
                    <div id="payeeSelectDiv">
                        <select data-placeholder="Выбрать организацию" id="selectPayee" data-rel="chosen">
                            <option value=""></option>
                            <optgroup label="Организации">
                                @foreach (var org in Model.Organizations)
                                {
                                    <option>@org</option>
                                }
                            </optgroup>
                        </select>
                    </div>
                    <div id="payeeOrgFinancialAccountsDiv"></div>
                </div>

                <div class="col-md-6">
                    <h5>Корпоратор:</h5>
                    <div id="payerSelectDiv">
                        <select data-placeholder="Выбрать корпоратора" id="selectPayer" data-rel="chosen">
                            <option value=""></option>
                            <optgroup label="Корпораторы">
                                @foreach (var counterparty in Model.Counterparties)
                                {
                                    <option>@counterparty</option>
                                }
                            </optgroup>
                        </select>
                    </div>
                    <div id="payeeOrgFinancialAccountsDiv"></div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <button id="resetOrgDataBtn" class="btn btn-success">Сбросить</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    За период с: <input type="text" id="min" name="min" class="date-range-filter"> по: <input type="text" id="max" name="max" class="date-range-filter">
                    <a href="/" id="createReviseReportBtn" class="btn btn-success">Создать акт</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        initChosen();
    });

    $("#createReviseReportBtn").click(function (e) {
        const sendJsonData = {
            fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
            toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true),
            payerName: $("#selectPayer").next().find("a.chosen-single span").first().html(),
            payeeName: $("#selectPayee").next().find("a.chosen-single span").first().html(),
            payeeBankName: $("#payeeOrgFinancialAccountsDiv > div").find("a.chosen-single span").first().html()
        };

        e.preventDefault();
        $.ajax({
            url: "/CorpClient/ReviseReport",
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(sendJsonData),
            success: function (result) {
                console.log(result);

                const bodyData = [];

                var headerRow = [];

                headerRow.push({ text: `По данным ${result.orgName}, руб`, colSpan: 4 });
                headerRow.push({});
                headerRow.push({});
                headerRow.push({});
                headerRow.push({ text: `По данным ${result.payerName}, руб`, colSpan: 4 });
                headerRow.push({});
                headerRow.push({});
                headerRow.push({});

                bodyData.push(headerRow);

                headerRow = [];

                headerRow.push({ text: 'Дата' });
                headerRow.push({ text: 'Документ' });
                headerRow.push({ text: 'Дебет' });
                headerRow.push({ text: 'Кредит' });
                headerRow.push({ text: 'Дата' });
                headerRow.push({ text: 'Документ' });
                headerRow.push({ text: 'Дебет' });
                headerRow.push({ text: 'Кредит' });

                bodyData.push(headerRow);

                var dataRow = [];

                dataRow.push({ text: 'Сальдо начальное', colSpan: 2 });
                dataRow.push({});
                dataRow.push({ text: `${result.oldDebit}` });
                dataRow.push({ text: `${result.oldCredit}` });
                dataRow.push({ text: 'Сальдо начальное', colSpan: 2 });
                dataRow.push({});
                dataRow.push({});
                dataRow.push({});

                bodyData.push(dataRow);

                result.items.forEach(function (item) {
                    dataRow = [];

                    dataRow.push({ text: item.Date });
                    dataRow.push({ text: `Принято (${item.receiptNumber} от ${item.date})` });
                    dataRow.push({ text: item.Amount });
                    dataRow.push({});
                    dataRow.push({});
                    dataRow.push({});
                    dataRow.push({});
                    dataRow.push({});

                    bodyData.push(dataRow);
                });

                dataRow = [];

                dataRow.push({ text: 'Обороты за период', colSpan: 2 });
                dataRow.push({});
                dataRow.push({ text: '' });
                dataRow.push({ text: '' });
                dataRow.push({ text: 'Обороты за период', colSpan: 2 });
                dataRow.push({});
                dataRow.push({});
                dataRow.push({});

                bodyData.push(dataRow);

                dataRow = [];

                dataRow.push({ text: 'Сальдо конечное', colSpan: 2 });
                dataRow.push({});
                dataRow.push({ text: '' });
                dataRow.push({ text: '' });
                dataRow.push({ text: 'Сальдо конечное', colSpan: 2 });
                dataRow.push({});
                dataRow.push({});
                dataRow.push({});

                bodyData.push(dataRow);

                const docDefinition = {
                    content: [
                        {
                            text: 'Акт сверки',
                            style: 'largerText',
                            alignment: 'center',
                            bold: true
                        },
                        {
                            text: `взаимных расчетов за период ${result.fromDate} - ${result.toDate}`,
                            style: 'normalText',
                            alignment: 'center'
                        },
                        {
                            text: `между ${result.orgName}`,
                            style: 'normalText',
                            alignment: 'center'
                        },
                        {
                            text: `и ${result.payerName}`,
                            style: 'normalText',
                            alignment: 'center'
                        },
                        {
                            text: 'по договору Основной договор',
                            style: 'normalText',
                            alignment: 'center'
                        },
                        {
                            text: `Мы, нижеподписавшиеся, ________________ ${result.orgName} _______________, с одной стороны,`,
                            style: 'normalText'
                        },
                        {
                            text: `и ________________ ${result.payerName} _______________, с другой стороны,`,
                            style: 'normalText'
                        },
                        {
                            text: 'составили настоящий акт сверки в том, что состояние взаимных расчетов по данным учета следующее:',
                            style: 'normalText'
                        },
                        {
                            table: {
                                headerRows: 2,
                                widths: [40, 100, 45, 45, 40, 100, 45, 45],
                                body: bodyData
                            },
                            style: 'normalText',
                            margin: [0, 15, 0, 40]
                        },
                        {
                            columns: [
                                [
                                    {
                                        text: `От ${result.orgName}`
                                    },
                                    {
                                        text: '_____________________________(_______________)'
                                    },
                                    {
                                        text: 'М.П.'
                                    }
                                ],
                                [
                                    {
                                        text: `От ${result.payerName}`
                                    },
                                    {
                                        text: '_____________________________(_______________)'
                                    },
                                    {
                                        text: 'М.П.'
                                    }
                                ]
                            ],
                            style: 'normalText'
                        }
                    ],

                    styles: {
                        largerText: {
                            fontSize: 10,
                        },
                        normalText: {
                            fontSize: 8
                        },
                        tableHeader: {
                            bold: true,
                            fontSize: 10,
                            alignment: 'center'
                        }
                    }
                };

                pdfMake.createPdf(docDefinition).open();
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>