
@{
    ViewBag.Title = "Index";
}
<div class="ch-container">
    <div class="row">
	
	
                        </li>
                        
                    </ul>	
                    
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->
</div>
<p class="btn-group">
<a asp-action="IssuedExpenditures" asp-controller="Expenditure"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results" class="btn btn-primary">Список операций</a>    
</p>
<div class="box col-md-10">
    
    <a asp-action="CreateExpenditure" asp-controller="Expenditure"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-default">Создать операцию</a>     
<div id="results"></div>
