@using AvibaWeb.ViewModels.DataViewModels
@model CreateCashlessRecordViewModel


    <!-- CONTENT START -->
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Создание платежного поручения</h2>
            </div>
            <div class="box-content">
    <div class="row">
        <div class="col-md-12">
        <input autocomplete="off" placeholder="Номер п/п" class="form-control" id="recordOrderNumber" asp-for="OrderNumber" />
        </div></div>
 <br>                   
        <div class="row">
            <div class="col-md-12">
                <select data-placeholder="Выбрать плательщика" id="selectPayer" data-rel="chosen">
                    <option></option>
                </select>
            </div>
            <br />
            <div class="col-md-12">
                <select data-placeholder="Выбрать счет" data-rel="chosen" id="selectPayerBank">
                    <option></option>
                </select>
            </div>
        </div>   
<br>
<div class="row">
    <div class="col-md-12">    
        <select data-placeholder="Выбрать получателя" id="selectPayee" data-rel="chosen">
            <option></option>
        </select>
    </div>
    <br />
    <div class="col-md-12">
        <select data-placeholder="Выбрать счет" data-rel="chosen" id="selectPayeeBank">
            <option></option>
        </select>
    </div>
</div>
<br>
    <div class="row">
        <div class="col-md-12">
        <input autocomplete="off" placeholder="Сумма" class="form-control" id="recordAmount" asp-for="Amount" value="" />
    </div></div>
<br>    
    <div class="row">
        <div class="col-md-12">
        <input autocomplete="off" placeholder="Комментарий" class="form-control" id="recordDescription" asp-for="Description" />
    </div></div>
<br>   
    <div class="row">
        <div class="col-md-12">
        <a href="/" id="sendDataBtn" class="btn btn-success">Сохранить</a>
        <a class="btn btn-primary btn-setting" href="#" id="createCounterpartyBtn"><i class="glyphicon glyphicon-plus"></i> Новая фирма</a>
        </div>
    </div>
</div></div></div>

<div class="modal fade" id="dialog" title="Basic dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Новая фирма</span>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script>
    onload = function () {
        $('#selectPayeeBank').hide();
        $('#selectPayerBank').hide();

        $.get("/CorpReceipt/OrganizationAndCounterpartySelect", function (data) {
            $('#selectPayee').select2({
                placeholder: "Выбрать организацию",
                allowClear: true,
                width: "100%",
                data: data.results,
                language: "ru"
            });

            $('#selectPayee').on('select2:select', function (e) {
                $('#selectPayeeBank').hide();
                $('#selectPayeeBank').empty();

                if ($("#selectPayee option:selected").parent("optgroup")[0].label === "Организации") {
                    $.get("/CorpReceipt/OrganizationFinancialAccountSelect",
                        { orgName: e.params.data.text },
                        function(data) {
                            $('#selectPayeeBank').select2({
                                placeholder: "Выбрать счет",
                                allowClear: true,
                                width: "100%",
                                data: data.results,
                                language: "ru"
                            });

                            $('#selectPayeeBank').val(null).trigger('change');

                            $('#selectPayeeBank').show();
                        });
                }
            });
        });

        $.get("/CorpReceipt/OrganizationAndCounterpartySelect", function (data) {
            $('#selectPayer').select2({
                placeholder: "Выбрать организацию",
                allowClear: true,
                width: "100%",
                data: data.results,
                language: "ru"
            });

            $('#selectPayer').on('select2:select', function (e) {
                $('#selectPayerBank').hide();
                $('#selectPayerBank').empty();

                if ($("#selectPayer option:selected").parent("optgroup")[0].label === "Организации") {
                    $.get("/CorpReceipt/OrganizationFinancialAccountSelect",
                        { orgName: e.params.data.text },
                        function(data) {
                            $('#selectPayerBank').select2({
                                placeholder: "Выбрать счет",
                                allowClear: true,
                                width: "100%",
                                data: data.results,
                                language: "ru"
                            });

                            $('#selectPayerBank').val(null).trigger('change');

                            $('#selectPayerBank').show();
                        });
                }
            });
        });
    }

    onload();

    $("#sendDataBtn").click(function (e) {
        var selectPayee = $("#selectPayee").select2('data');
        var selectPayer = $("#selectPayer").select2('data');
        
        var selectPayeeBank = $("#selectPayee option:selected").parent("optgroup")[0].label === "Организации" ?
            $("#selectPayeeBank").select2('data') :
            "undefined";
        var selectPayerBank = $("#selectPayer option:selected").parent("optgroup")[0].label === "Организации" ?
            $("#selectPayerBank").select2('data') :
            "undefined";

        var sendJsonData = {
            PayerName: (typeof selectPayer !== 'undefined' && selectPayer.length > 0) ? selectPayer[0].text : "",
            PayerBankName: (typeof selectPayerBank !== 'undefined' && selectPayerBank.length > 0) ? selectPayerBank[0].text : "",
            PayeeName: (typeof selectPayee !== 'undefined' && selectPayee.length > 0) ? selectPayee[0].text : "",
            PayeeBankName: (typeof selectPayeeBank !== 'undefined' && selectPayeeBank.length > 0) ? selectPayeeBank[0].text : "",
            Amount: $("#recordAmount").val(),
            Description: $("#recordDescription").val(),
            OrderNumber: $("#recordOrderNumber").val()
        };

        e.preventDefault();
        $.ajax({
            url: "/Data/CreateCashlessRecord",
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(sendJsonData),
            success: function (result) {
                $("#contentResults").html(result.message);
            },
            error: function (error) {
                console.log(error.message);
            }
        });
    });

    $("#createCounterpartyBtn").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Data/CreateCounterparty",
            type: "GET",
            cache: false,
            success: function (result) {
                $(".modal-body").html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>
