
@{
    ViewData["Title"] = "Index";
}
<div class="ch-container">
    <div class="row">
	
	
        </li>
        <li class="nav-header hidden-md">Раздел</li>
        <li>
            <a asp-action="Cashless" asp-controller="Data"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results">Безнал</a>
        </li>
                        
        </ul>	
                    
    </div>
</div>
</div>
<!--/span-->
<!-- left menu ends -->
</div>
<div class="box col-md-10">
   
<div id="results"></div>
