<p class="btn-group">
    <a asp-action="Cashless" asp-controller="Data"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon-folder-open">&nbsp;</i>Загрузка файлов</a>
    <a asp-action="CreateCashlessRecord" asp-controller="Data"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon-plus">&nbsp;</i>Создать п/п</a>
</p>

<div class="box col-md-10">
    <div id="results"></div>
</div>