@using AvibaWeb.ViewModels.DataViewModels
@model OrganizationFinancialAccountsViewModel

<div>
    <select data-placeholder="Выбрать счет" data-rel="chosen">
        <option value=""></option>
        @foreach (var account in Model.Accounts)
        {
            <option>@account</option>
        }
    </select>
</div>