@using AvibaWeb.ViewModels.DataViewModels
@model OrganizationFinancialAccountsViewModel

<div>
    <select data-placeholder="Выбрать счет" data-rel="chosen" id="selectBank">
        <option value=""></option>
        @foreach (var account in Model.Accounts)
        {
            <option id=@account.Key>@account.Value</option>
        }
    </select>
</div>