@using AvibaWeb.ViewModels.DataViewModels
@model OrganizationFinancialAccountsViewModel

<div>
    <select data-placeholder="Выбрать организацию" id="selectPayee" data-rel="chosen">
        <option value=""></option>
        <optgroup label="Организации">
            @foreach (var org in Model.Accounts)
            {
                <option id=@org.Key>@org.Value</option>
            }
        </optgroup>
    </select>
</div>