<p class="btn-group">
    <a asp-action="CreateReceipt" asp-controller="CorpReceipt"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon-plus">&nbsp;</i>Создать счет</a>
    <a asp-action="Receipts" asp-controller="CorpReceipt"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-list-alt">&nbsp;</i>Список счетов</a>
    <a asp-action="Receipts1" asp-controller="CorpReceipt"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-list-alt">&nbsp;</i>Список счетов ТСТ</a>
    <a asp-action="CreateCounterparty" asp-controller="Data"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-plus">&nbsp;</i>Новый клиент</a>
    <a asp-action="MultiPayment" asp-controller="CorpReceipt"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon glyphicon-plus">&nbsp;</i>Поступившие платежи</a>
</p>

<div class="box col-md-10">
    <div id="results"></div>
</div>