<p class="btn-group">
    <a asp-action="CreateReceipt" asp-controller="CorpReceipt"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon-plus">&nbsp;</i>Создать счет</a>
    <a asp-action="Receipts" asp-controller="CorpReceipt"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary"><i class="glyphicon glyphicon-plus">&nbsp;</i>Счета</a>
</p>

<div class="box col-md-10">
    <div id="results"></div>
</div>