@using AvibaWeb.ViewModels.CorpReceiptViewModels
@model List<TicketListViewModel>

<table class="table table-striped table-bordered bootstrap-datatable datatable" id="dataTable">
    <thead>
        <tr>
            <th>Дата операции</th>
            <th>Билет</th>
            <th>Маршрут</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr><td colspan="4" class="text-center">Нет запросов</td></tr>
        }
        else
        {
            foreach (var operation in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => operation.TicketOperationId)
                        <span id="myId">@operation.ExecutionDateTime</span><br>
                        <a href="/" class="btn btn-success btn-sm addTicketBtn">Добавить</a>
                    </td>
                    <td>
                        <b>@operation.TicketNumber</b>
                    </td>
                    <td>
                        <b>@operation.Route</b>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    //$.fn.dataTableExt.afnFiltering.push(
    //    function (oSettings, aData, iDataIndex) {
    //        var iMin = document.getElementById('min').value;
    //        var iMax = document.getElementById('max').value;

    //        var df = document.createDocumentFragment();
    //        var el = document.createElement('body');
    //        el.innerHTML = aData[0];
    //        df.appendChild(el);
    //        var createdAt = df.getElementById('myId').innerHTML;

    //        var iVersion = aData[3] == "-" ? 0 : aData[3] * 1;
    //        if (
    //            (iMin == "" && iMax == "") ||
    //            (moment(createdAt, 'DD.MM.YYYY HH:mm:ss').isSameOrAfter(moment(iMin, 'DD.MM.YYYY')) &&
    //                moment(createdAt, 'DD.MM.YYYY HH:mm:ss').isSameOrBefore(moment(iMax, 'DD.MM.YYYY')))
    //        ) {
    //            return true;
    //        }
    //        return false;
    //    }
    //);

    $(function () {
        var oTable = $('#dataTable').dataTable({
            //"aaSorting": [[0, "desc"]],
            "bSort": false,
            "oLanguage": {
                "sSearch": "Поиск:",
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)"
            }
        });

        //$('#min').keyup(function () { oTable.fnDraw(); });
        //$('#max').keyup(function () { oTable.fnDraw(); });

        //$('.date-range-filter').change(function () {
        //    oTable.fnDraw();
        //});
    });

    $(".addTicketBtn").click(function (e) {
        e.preventDefault();
        $("#ticketListDiv").append(`<div>
            ${$($(this).parent().siblings()[0]).html()}
        </div>`);

        $('#dataTable').dataTable().fnDeleteRow($(this).parents('tr'));
    });
</script>