<div class="box col-md-4">
    <div class="box-inner" style="cursor: pointer;" id="salesBlock">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2><i class="glyphicon glyphicon-user"></i> Продажи</h2>
        </div>
    </div>
    <div class="box-content">
    </div>
</div>