@using AvibaWeb.ViewModels.ManagementAccountingViewModels
@model CashlessBlockViewModel

<div class="box col-md-3 b7">
    <div class="box-inner" style="cursor: pointer;" id="transitBlock">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2><i class="glyphicon glyphicon-user"></i> Негодяи</h2>
        </div>
        <div class="box-content">
            @foreach (var org in Model.Organizations)
            {
                <div>@org.Name</div>
                <div>@org.BalanceStr</div>
            }
            <div>@Model.Total</div>
        </div>
    </div>
</div>

<script>
    $("#transitBlock").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Transit/Index",
            type: "GET",
            cache: false,
            success: function (result) {
                $("#contentResults").html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>