<div class="btn-group">
    <a asp-action="CreateCollection" asp-controller="Collection" asp-route-isCustom="true"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Новое поступление</a>
    <a asp-action="IssuedCustomCollections" asp-controller="Collection"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Все операции</a>
    <a asp-action="ProviderAgentFees" asp-controller="Revenue"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Агентское вознаграждение</a>
</div>

<div class="box col-md-10">
    <div id="results"></div>
</div>