@using AvibaWeb.ViewModels.RevenueViewModels
@model ProviderAgentFeeTransactionsViewModel

<div class="box col-md-12">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2>Операции</h2>
        </div>
        <div class="box-content">
            <div class="row">
                <input hidden id="providerId" value="@Model.ProviderId" />
                <div class="col-md-12">
                    Выбрать с: <input type="text" autocomplete="off" id="min" name="min" class="date-range-filter"> по: <input type="text" autocomplete="off" id="max" name="max" class="date-range-filter">
                    <button id="getOperationsBtn" class="btn btn-success">Выбрать</button>
                </div>
            </div>
            <div class="row" id="transactionListBlock">
                
            </div>
        </div>
    </div>
</div>

<script>
    $("#getOperationsBtn").click(function (e) {
        const sendJsonData = {
            ProviderId: $('#providerId').val(),
            FromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
            ToDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true)
        };

        e.preventDefault();
        $.ajax({
            url: "/Revenue/ProviderAgentFeeTransactionList",
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(sendJsonData),
            success: function (result) {
                $("#transactionListBlock").html(result.message);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $(function () {
        $("#min").datepicker();
        $("#max").datepicker();

        $("#min").val(moment().subtract(30, 'days').format("DD.MM.YYYY"));
        $("#max").val(moment().format("DD.MM.YYYY"));

        $("#getOperationsBtn").trigger("click");
    });

</script>
