<div class="btn-group">
    <a asp-action="CreateDebit" asp-controller="Office"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Новое поступление</a>
    <a asp-action="IssuedDebits" asp-controller="Office"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
       class="btn btn-primary">Все операции</a>
</div>

<div class="box col-md-10">
    <div id="results"></div>
</div>